<div class="ui form grid">
  <div class="row">
    <div class="five wide column"></div>

    <div class="six wide column">
      <%= flash_messages %>
    </div>

    <div class="five wide column"></div>
  </div>

  <div class="row">
    <div class="five wide column"></div>

    <div class="six wide column">
      <h1 class="ui center aligned violet header">New Message</h1><br>
      <%= render 'messages/form' %>
    </div>

    <div class="five wide column"></div>
  </div>
</div>