<div class="ui form grid">
  <div class="five wide column"></div>

  <div class="six wide column">
    <%= flash_messages %>
    <h1 class="ui center aligned violet header">Sign In</h1><br>
    <%= render 'sessions/form' %>
  </div>

  <div class="five wide column"></div>
</div>