<div class="ui grid">
  <div class="row">
    <div class="five wide column"></div>

    <div class="six wide column">
      <%= flash_messages %>
    </div>

    <div class="five wide column"></div>
  </div>

  <div class="row">
    <div class="five wide column"></div>

    <div class="center aligned six wide column">
      <h1 class="ui violet header">JChat</h1><br>
      <img class="ui fluid image" src="http://i.imgur.com/pFHMJMQ.jpg"><br><br>
      <div class="ui form">
        <%= render 'sessions/form' %>
      </div>
      <br>
    </div>

    <div class="five wide column"></div>
  </div>
</div>