<div class="ui grid">
  <div class="row">
    <div class="four wide column"></div>

    <div class="eight wide column">
      <%= flash_messages %>
    </div>

    <div class="four wide column"></div>
  </div>

  <div class="row">
    <div class="four wide column"></div>

    <div class="center aligned eight wide column">
      <h1 class="ui violet header">JChat</h1><br>
      <img class="ui fluid image" src="http://i.imgur.com/pFHMJMQ.jpg"><br><br>
      
      <%= link_to 'Sign In', new_session_path, class: 'ui violet button' %>
      <%= link_to 'Sign Up', new_user_path, class: 'ui green button' %>
    </div>

    <div class="four wide column"></div>
  </div>
</div>

<script type="text/javascript">
  $('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
</script>